
.menu {
    display: flex;
    flex-direction: row;
    background: #374147;
    color: white;
    text-align: center;
    position: relative;
   
}

ul{
    list-style: none;
    position: absolute;
    padding-top: 15px;
}
li{
    margin-right: 20px;
    width: 150px;
    height: 40px;
    
}


li:hover {
    background: blue;
}